*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

body{
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
    background-image: url(/img/entrance.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.container{
    width: 100%;
    max-width: 650px;
    background: rgba(0, 0, 0, 0.5);
    padding: 28px;
    margin: 0 28px;
    border-radius: 10px;
    box-shadow: inset -2px 2px 2px white;
}

.form-title{
    font-size: 26px;
    font-weight: 600;
    text-align: center;
    padding-bottom: 6px;
    color: white;
    text-shadow: 2px 2px 2px black;
    border-bottom: solid 1px white;
}

.main-user-info{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 20px 0;
}

.user-input-box:nth-child(2n){
    justify-content: end;
}

.user-input-box{
    display: flex;
    flex-wrap: wrap;
    width: 50%;
    padding-bottom: 15px;
}

.user-input-box label{
    width: 95%;
    color: white;
    font-size: 20px;
    font-weight: 400;
    margin: 5px 0;
}

.user-input-box input{
    height: 40px;
    width: 95%;
    border-radius: 7px;
    outline: none;
    border: 1px solid gray;
    padding: 0 10px;
}

.form-submit-btn{
    margin-top: 40px;
}

.form-submit-btn input{
    display: block;
    width: 100%;
    margin-top: 10px;
    font-size: 20px;
    padding: 10px;
    border: none;
    border-radius: 3px;
    color: white;
    background: rgba( 63, 114, 76, 0.7);
}

.form-submit-btn input:hover{
    background: rgba( 56, 204, 93, 0.7);
    color: white;
}

p{
    text-align: center;
    color: white;
    margin-top: 15px;
}

/* login */

.box{
    display: flex;
    flex-direction: column;
    height: 300px;
    width: 250px;
    align-items: center;
    margin: auto;
    margin-top: 120px;
    background: rgba(0, 0, 0, 0.5);
    color: white;
    padding: 30px;
    border-radius: 18px;
    box-shadow: inset -6px -6px rgba(0, 0, 0, 0.5);
}

.box h1{
    text-transform: uppercase;
    margin-top: 0;
    text-align: left;
    font-size: 36px;
    border-bottom: 3px solid rgb( 32, 136, 75);
    margin-bottom: 20px;
    padding-bottom: 2px;
}

.input-box{
    width: 100%;
    overflow: auto;
    font-size: 22px;
    padding: 10px 0;
    margin: 10px 0;
    border-bottom: 2px solid rgb( 172, 95, 32);
    transition: 0.2s;
}

.input-box:focus-within{
    border-bottom: 2px solid rgb(250, 179, 48);
}

.input-box input{
    border: none;
    outline: none;
    background: none;
    color: white;
    font-size: 18px;
    width: 85%;
    float: left;
}

button{
    background: none;
    width: 100%;
    border: 3px solid rgb( 32, 136, 75);
    color: white;
    font-size: 19px;
    cursor: pointer;
    padding: 7px;
    margin-top: 40px;
}

button:hover{
    background: rgba(128, 128, 128, 0.3);
    border: 3px solid rgb( 47, 216, 117);
}


@media screen and (max-width: 600px) {
    .container{
        min-width: 280px;
    }

    .user-input-box{
        margin-bottom: 12px;
        width: 100%;
    }

    .user-input-box:nth-child(2n){
        justify-content: space-between;
    }

    .main-user-info{
        max-height: 380px;
        overflow: auto;
    }

    .main-user-info::-webkit-scrollbar{
        width: 0;
    }
}

@media screen and (max-width: 375px) {
    .main-user-info{
        display: flex;
        justify-content: center;
    }
}
